#btn-issue{
    background-color: rgba(100, 223, 116, 0.658);
}

#btn-issue:hover, #btn-issue:active {
    background-color: rgba(9, 224, 38, 0.781);
}

#btn-modify{
    background-color: rgba(100, 223, 116, 0.63);
}

#btn-modify:hover{
    background-color: rgba(9, 224, 38, 0.781);
}

#btn-delete{
    background-color: rgba(100, 223, 116, 0.637);
}

#btn-delete:hover{
    background-color: rgba(9, 224, 38, 0.781);
}

.container{
    min-height: 70vh;
}