.navbar {
    background-color: #217c36;
    justify-content: center;
  }
  
  .navbar-brand {
    color: #FEFAE0;
    font-weight: bold;
    font-size: 25px;
    margin-left: 25px;
  }
  
  .navbar-nav .nav-link {
    color: #F2EED7;
    font-weight: bold;
    align-content: end;
    border-radius: 12px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #FEFAE0;
    font-weight: 900;
  }

  .navbar-nav .nav-item .nav-link.active{
    color: #FEFAE0;
    background-color: rgba(133, 204, 40, 0.288);
    font-weight: 900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }