#btn-issue{
    background-color: rgba(0, 132, 255, 0.548);
}

#btn-issue:hover, #btn-issue:active {
    background-color: rgb(0, 132, 255);
}

#btn-modify{
    background-color: rgba(255, 255, 0, 0.582);
}

#btn-modify:hover{
    background-color: rgba(255, 255, 0, 0.877);
}

#btn-delete{
    background-color: rgba(255, 0, 0, 0.527);
}

#btn-delete:hover{
    background-color: rgba(255, 0, 0, 0.815);
}

.container{
    min-height: 70vh;
}