<footer class="footer footer-expand-lg text-center text-lg-start">
    
    <div class="text-white py-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-lg-4">
            <h5>About Us</h5>
            <p class="text-white">
              We're dedicated to creating a cleaner, healthier environment through effective waste management solutions.
            </p>
          </div>
          <div class="col-lg-4">
            <h5>Quick Links</h5>
            <ul class="">
              <li><a routerLink="/user-home" class="text-white text-decoration-none fw-bold">Home</a></li>
              <li><a routerLink="/classify" class="text-white text-decoration-none fw-bold">AI Waste Categorizer</a></li>
              <li><a routerLink="/search-bins" class="text-white text-decoration-none fw-bold">Search Bins</a></li>
              <li><a routerLink="/services" class="text-white text-decoration-none fw-bold">Services</a></li>
              <li><a routerLink="/user-notification" class="text-white text-decoration-none fw-bold">Notifications</a></li>
              <li><a routerLink="/user-profile" class="text-white text-decoration-none fw-bold">Account</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-muted">
              <li class="text-white"><i class="bi bi-geo-alt text-white"></i>  Opposite UST Global Trivandrum</li>
              <li class="text-white"><i class="bi bi-envelope text-white"></i>  wastesense24@gmail.com</li>
              <li class="text-white "><i class="bi bi-phone text-white"></i> +91 - 9847123456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3">
      © 2024 WasteSense
    </div>
  </footer>
  