<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="/citymap">WasteSense</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/citymap" routerLinkActive="active">City View</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/bins" routerLinkActive="active">Active Bins</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/notifications" routerLinkActive="active">Notifications</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule Collection</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/actions" routerLinkActive="active">Actions</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/complaints" routerLinkActive="active">Complaints</a>
        </li>
      </ul>
    </div>
  </nav>
  