.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  button {
    min-width: 200px;
  }
  
  form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .whole-content{
    min-height: 70vh;
}