<div class="container mt-4">
  <h2>Notifications</h2>

  <div class="form-group" style="margin: 20px; margin-left: 0; display: flex;">
    <label for="typeFilter" style="margin-right: 20px; font-size: large;">Filter by Type:</label>
    <select
      id="typeFilter"
      class="form-control w-50"
      (change)="onFilterChange($event)"
    >
      <option value="all">All</option>
      <option value="weather">Weather</option>
      <option value="bin">Bin</option>
      <option value="complaint">Complaint</option>
      <option value="service">Service</option>
    </select>
  </div>

  <div
    *ngFor="let notification of paginatedNotifications"
    class="notification-card mb-3"
    [ngClass]="notification.type"
  >
    <p><strong>Type:</strong> {{ notification.type | titlecase }}</p>
    <p><strong>Message:</strong> {{ notification.message }}</p>
  </div>

  <!-- Pagination Controls -->
  <nav aria-label="Notification pagination">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a
          class="page-link"
          (click)="onPageChange(currentPage - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
      >
        <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a
          class="page-link"
          (click)="onPageChange(currentPage + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
